.Footer{
    margin-bottom: -16px;
    color: #fff;
    background-color: #232f3e;
}

.Footer-backToTop{
    height: 30px;
    padding: 15px 0 0 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37475a;
}
.Foot_col{
    text-align: center;
    margin: 6rem 20px 15px 20px;
}
.Foot_copyright{
    text-align: center;
    margin: 2rem 0 0 0;
}

hr{
    border: 1px solid #3a4553;
}