nav.secondheader{
    background-color: #232f3e;
    display: flex;
    padding: 5px;
}

.header_itam {
    font-size: 14px;
    font-weight: 700;
    margin-left: 7px;
    margin-right: 7px;
    color: #fff;
    text-decoration: none;
}

.header_Alltab{
    margin-left: 10px;
}

.secondhearder_msg{
    display:flex;
    align-items: right;
    justify-content: right;
}

.secondheader a {
    border: 1px solid #232f3e;
    border-radius: 2px;

 }
.secondheader a:hover{
    border: 1px solid #fff;

 }